<header class="header">
  <div class="header__top">
    <div class="container header__top--container">
      <div class="logo">
        <a href="/src/partials/tasty_banka.html" class="home_page"
          ><img src="/src/images/logo.png" />
        </a>
      </div>
      <div class="contacts">
        <div class="contacts__number">
          <span>Телефон для замовлень</span>
          <a href="tel:+3800978621876" class="contacts__number--tel"
            ><i class="fa fa-phone" aria-hidden="true"></i>097 862 18 76</a
          >
        </div>
        <div class="contacts__time-work" style="padding: 0px 25px">
          <span>Ми обробляємо замовлення</span>
          <b>9.30-17.30 пн.-пт.</b>
        </div>
      </div>
      <div class="greeting">
        <img
          class="greeting__flag"
          src="/src/images/ukraine_flag.svg"
          alt="flag"
          width="20"
          height="10"
        />
        <h1 class="greeting__haslo">Слава Україні! Героям Слава!</h1>
        <img
          class="greeting__flag"
          src="/src/images/ukraine_flag.svg"
          alt="flag"
          width="20"
          height="10"
        />
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/tea.svg" alt="" /> Чай
              </div>
            </a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/mushrooms.svg" alt="" /> Грибочки
              </div>
            </a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/jam.svg" alt="" /> Варення
              </div>
            </a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link">
              <div class="navigation__link--el">
                <img src="/src/images/SVG/honey3.svg" alt="" />
                Мед-горіхи
              </div>
            </a>
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/sets.svg" alt="" /> Набори
              </div></a
            >
          </li>
          <!-- <li class="navigation__item">
            <a href=""
              ><svg class="navigation__icon">
                <use href="/src/images/icons.svg#icon-apple_dry"></use>
              </svg>
              Сушка</a
            >
          </li> -->
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/apple_dry.svg" alt="" />Сушка
              </div></a
            >
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/sause.svg" alt="" />Соуси
              </div></a
            >
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/oak_leaf.svg" alt="" /> Для бані
              </div></a
            >
          </li>
          <li class="navigation__item">
            <a href="" class="navigation__link"
              ><div class="navigation__link--el">
                <img src="/src/images/SVG/recept.svg" alt="" />
                Рецепти
              </div></a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main>
  <section class="section section--hero">
    <div class="container">
      <img src="/src/images/zaminyty1.jpg" alt="" width="1170px" />
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section-tea">
        <a href="" class="section-tea__link"
          ><img src="/src/images/zaminyty2.jpg" alt=""
        /></a>
      </div>
    </div>
  </section>
  <section class="section top-sales">
    <div class="container">
      <h2 class="top-sales__title">Хіти продажу</h2>
      <ul class="sales-cards">
        <li class="sales-cards__item">
          <a href="#" class="sales-cards__link">
            <article class="product">
              <div class="product__card">
                <picture>
                  <!-- <source srcset="#" media="(min-width:1200px)" />
                  <source srcset="#" media="(min-width:768px)" />
                  <source srcset="#" media="(max-width:767px)" /> -->
                  <img
                    src="/src/images/zaminyty3.jpg"
                    width="240"
                    height="240"
                    alt=""
                  />
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__content--title">
                  Варення з квітів чайної троянди
                </h3>
                <p class="product__content--price">100мл - 50грн</p>
              </div>
            </article>
          </a>
        </li>
        <li class="sales-cards__item">
          <a href="#" class="sales-cards__link">
            <article class="product">
              <div class="product__card">
                <picture>
                  <!-- <source srcset="#" media="(min-width:1200px)" />
                  <source srcset="#" media="(min-width:768px)" />
                  <source srcset="#" media="(max-width:767px)" /> -->
                  <img
                    src="/src/images/zaminyty3.jpg"
                    width="240"
                    height="240"
                    alt=""
                  />
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__content--title">
                  Варення з квітів чайної троянди
                </h3>
                <p class="product__content--price">100мл - 50грн</p>
              </div>
            </article>
          </a>
        </li>
        <li class="sales-cards__item">
          <a href="#" class="sales-cards__link">
            <article class="product">
              <div class="product__card">
                <picture>
                  <!-- <source srcset="#" media="(min-width:1200px)" />
                  <source srcset="#" media="(min-width:768px)" />
                  <source srcset="#" media="(max-width:767px)" /> -->
                  <img
                    src="/src/images/zaminyty3.jpg"
                    width="240"
                    height="240"
                    alt=""
                  />
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__content--title">
                  Варення з квітів чайної троянди
                </h3>
                <p class="product__content--price">100мл - 50грн</p>
              </div>
            </article>
          </a>
        </li>
        <li class="sales-cards__item">
          <a href="#" class="sales-cards__link">
            <article class="product">
              <div class="product__card">
                <picture>
                  <!-- <source srcset="#" media="(min-width:1200px)" />
                  <source srcset="#" media="(min-width:768px)" />
                  <source srcset="#" media="(max-width:767px)" /> -->
                  <img
                    src="/src/images/zaminyty3.jpg"
                    width="240"
                    height="240"
                    alt=""
                  />
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__content--title">
                  Варення з квітів чайної троянди
                </h3>
                <p class="product__content--price">100мл - 50грн</p>
              </div>
            </article>
          </a>
        </li>
        <li class="sales-cards__item">
          <a href="#" class="sales-cards__link">
            <article class="product">
              <div class="product__card">
                <picture>
                  <!-- <source srcset="#" media="(min-width:1200px)" />
                  <source srcset="#" media="(min-width:768px)" />
                  <source srcset="#" media="(max-width:767px)" /> -->
                  <img
                    src="/src/images/zaminyty3.jpg"
                    width="240"
                    height="240"
                    alt="Технокряк"
                  />
                </picture>
              </div>
              <div class="product__content">
                <h3 class="product__content--title">
                  Варення з квітів чайної троянди
                </h3>
                <p class="product__content--price">100мл - 50грн</p>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="footer__line"></div>
  <div class="container footer-container">
    <div class="footer__contacts">
      <address class="address">
        <h4 class="address__title">Адреса</h4>
        <a
          href="https://goo.gl/maps/auuQEZYYJYs9FmW4A"
          target="_blank"
          rel="noopener noreferrer nofolow"
          class="address__map-link"
        >
          м. Олевськ
        </a>
        <ul class="address__info">
          <li>
            <h4 class="address__title">E-Mail</h4>
            <a href="mail:info@example.com" class="address__footer-link"
              >info@example.com</a
            >
          </li>
          <li>
            <h4 class="address__title">Телефон</h4>
            <a href="tel:+380978621876" class="address__footer-link"
              >+38 097 862 18 76</a
            >
          </li>
          <li>
            <a href="callto:Viber: 097 862 18 76" class="address__footer-link"
              >Viber: 097 862 18 76</a
            >
          </li>
        </ul>
      </address>
      <div class="logo--footer">
        <a href="/src/partials/tasty_banka.html" class="home_page"
          ><img src="/src/images/logo.png" />
        </a>
      </div>
    </div>
    <div class="footer__soc">
      <strong class="footer__title">Приєднуйтесь</strong>
      <ul class="soc">
        <li class="soc__item">
          <a
            href="https://instagram.com/tasty_banka?igshid=YmMyMTA2M2Y="
            class="soc__link"
          >
            <svg class="soc__icon" width="20" height="20">
              <use href="/src/images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="https://t.me/+J6C3uLAzZrk0NmQ6" class="soc__link">
            <svg class="soc__icon" width="20" height="20">
              <use href="/src/images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="soc__item">
          <a href="https://www.facebook.com/TastyBanka" class="soc__link">
            <svg class="soc__icon" width="20" height="20">
              <use href="/src/images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__info">
      <ul class="footer__info--list">
        <h4 class="address__title">Інформація</h4>
        <li class="footer__info--item">
          <a href="" class="footer__info--link">Про нас</a>
        </li>
        <li class="footer__info--item">
          <a href="" class="footer__info--link">Доставка і оплата</a>
        </li>
        <li class="footer__info--item">
          <a href="" class="footer__info--link">Умови повернення товарів</a>
        </li>
        <li class="footer__info--item">
          <a href="" class="footer__info--link">Цікаві факти</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
