.section {
  padding-bottom: 10px;
  padding-top: 30px;
  padding-left: auto;
  padding-right: auto;
  @include desktop {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
.section--hero {
  padding-bottom: 10px;
  padding-top: 30px;
  padding-left: auto;
  padding-right: auto;
  @include desktop {
    padding-bottom: 10px;
    padding-top: 40px;
  }
}
.section-tea {
  transition: transform var(--animation);
  &:hover,
  &:focus {
    box-shadow: 7px 7px 10px 0px rgba(61, 94, 50, 0.75);
    transform: translateX(-15px);
  }
}

// .section__title {
//   margin-bottom: 30px;
//   color: ;
//   @include font(700, 28px, 1.18, null);
//   text-align: center;
//   @include desktop {
//     margin-bottom: 50px;
//     @include font(700, 36px, 1.17, null);
//   }
// }

// .section--no-padding-top {
//   padding-top: 0;
// }

// .section--team-background {
//   background-color: #f5f4fa;
// }
