.footer {
  padding-top: 15px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer__line {
  width: 100%;
  height: 20px;
  background-color: var(--accent-color);
}

.logo--footer {
  img {
    height: 60px;
    width: 60px;
  }
}

.address {
  padding-top: 15px;
  font-style: normal;
  &__info {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
  }
  &__map-link,
  &__footer-link {
    color: var(--title-text-color);
    transition: color var(--animation);
  }
  &__map-link:hover,
  &__map-link:focus,
  &__footer-link:hover,
  &__footer-link:focus {
    color: var(--accent-color);
  }
}
.footer__soc {
  text-align: center;
}
.footer__title {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
}
.soc {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 5px;
}
// .soc__item {
// }
.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #75b43afa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: scale var(--animation);
  &:hover,
  &:focus {
    scale: 1.1;
  }
}

.soc__icon {
  fill: rgb(255, 255, 255);
}

.footer__info--link {
  color: var(--title-text-color);
}

.footer__info--list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
