header {
  display: block;
  color: #333;
  margin-bottom: 0;

  .header__top {
    padding: 18px 0 15px;
    position: relative;
  }
  .header__bottom {
    background: #75b43a;
  }
}

.header__top--container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  margin: -10px 0;
  height: 60px;
  img {
    height: 60px;
    width: 60px;
  }
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: rotate(360deg);
  }
}
.contacts {
  display: inherit;
}
.contacts__number {
  margin-left: 60px;
}
.contacts__number span,
.contacts__time-work span {
  color: #535353;
  display: block;
  font-size: 12px;
}
.contacts__time-work b {
  color: #535353;
  display: block;
  font-size: 24px;
}
.contacts__number--tel {
  color: #535353;
  display: block;
  font-size: 24px;
  font-weight: 700;
  transition: color var(--animation);
  &:hover,
  &:focus {
    color: #75b43a;
  }
}

.contacts__number i {
  margin-left: -19px;
  margin-right: 3px;
  transform: rotate(15deg);
  font-size: 20px;
  font-weight: 700;
  color: #75b43a;
}

.fa {
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  line-height: inherit;
}
.fa:before {
  font-family: FontAwesome;
}
.fa-phone:before {
  content: '\1F4DE';
}

.contacts__time-work {
  display: inline-block;
}

.greeting {
  display: flex;
  display: flex;
  align-items: center;
  gap: 5px;
}

.greeting__flag {
  height: 20px;
  width: 30px;
}
.greeting__haslo {
  @include font(500, 16, 1.14, null);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.navigation {
  // display: flex;
  &__list {
    display: flex;
    justify-content: space-between;
    table-layout: fixed;
  }
  &__item {
    display: flex;
    text-transform: uppercase;
  }
  &__item img {
    height: 30px;
    filter: brightness(0) invert(1);
  }
  &__link {
    // border-right: 1px solid #82ba4d;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-align: center;
    padding: 10px 20px;
    transition: background-color, scale var(--animation);
  }
  &__link:hover,
  &__link:focus {
    background: rgba(32, 44, 26, 0.808);
    color: #fff;
    scale: 1.1;
  }
}
.navigation__link--el {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}
// .navigation__icon {
//   width: 20px;
//   height: 20px;
// }
